[submodule "rpicomponents/external/doctest"]
	path = rpicomponents/external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "rpicomponents/test/external/doctest"]
	path = rpicomponents/test/external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "rpicomponents/external/RPiPins"]
	path = rpicomponents/external/RPiPins
	url = git@github.com:Krenol/RPiPins.git
[submodule "rpicomponents/external/CppUtils"]
	path = rpicomponents/external/CppUtils
	url = git@github.com:Krenol/CppUtils.git
